<!doctype html>
<html lang="en" ng-app="app">
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"> -->
	<link rel="stylesheet" type="text/css" href="css/jquery.tagsinput.css" />

    <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="js/jquery.tagsinput.js"></script>
</head>
<body ng-controller="MainController">
	<div class="banner">
		<div class="center">
			<span id="title"><span class="code">&lt;<span class="anchor">a</span>&gt;</span><span id="main">Link<span class="emph">List</span></span><span class="code">&lt;/<span class="anchor">a</span>&gt;</span></span>
			<br />
			<span id="description">A community driven list of the best tech resources. Like hackernews, but timeless.</span>
		</div>
	</div>
	<div class="stripe"></div>
	
	<div id="frame">
		<div id="content">
			<ul id="list">
				<li ng-repeat="link in links | orderBy : 'hits' : true" class=" repeated-item">
					<div class="link">
						<span class="section rank">#{{$index+1}}</span>
						<span class="section up"><a ng-click="hitLink(link._id)"><img src="img/up.png" width="20"></img></a></span>
						<span class="section url"><a href="http://{{link.url}}"><span class="extra">http://</span>{{link.url}}<span class="extra">/example/test</a></span></span>
						<span ng-repeat="tag in link.tags">{{tag}}</span>
						<span class="section hits">[{{link.hits}}] </span>
					</div>
				</li>	
			</ul>
		</div>
	</div>

	<div id="adder">
		url: <input type="text" id="linkUrl"></input>
		tags: <input name="tags" id="tags" value="" />
		<br />
		<input type="button" value="add" ng-click="addLink()"></input>
	</div>
	<script src="app.js"></script>
</body>
</html>